/* Add here all your css styles */
.document-download{
    margin-left: 40%;
    margin-bottom: 10px;
}
.myLogoHeader{
    height: 40px;
}
/* Possition for evaluation button
-----------------------------------*/
.evaluation-possition{
    margin-left: 60%;
    margin-top:  -90px;
}

/* imagen rounded on about
----------------------------------*/
/*Full Width*/
.full-width {
	width: 70%;
}

.myRound{
    border-radius: 100%;
}


/*Illustration v4
------------------------------------*/
.illustration-v4 .thumb-product {
	padding: 10px;
	overflow: hidden;
	margin-bottom: 20px;
}

.illustration-v4 .thumb-product:hover {
	box-shadow: 0 0 3px #dedede;
}

.illustration-v4 .heading h2 {
	font-size: 18px;
}

.illustration-v4 .heading h2:before,
.illustration-v4 .heading h2:after {
  	width: 50%;
}

.illustration-v4 img.thumb-product-img {
	float: left;
	width: 100px;
	height: 100px;
	margin-right: 25px;
}

.illustration-v4 .thumb-product-in {
	overflow: hidden;
	margin-top: 15px;
}

.illustration-v4 .thumb-product-in h4 {
	margin: 0 0 2px;
}

.illustration-v4 .thumb-product-in h4 a {
	color: #687074;
	font-size: 18px;
}

.illustration-v4 .thumb-product-in h4 a:hover {
	color: #18ba9b;
}

.illustration-v4 .thumb-product-in span {
	display: block;
}

.illustration-v4 span.thumb-product-type {
	color: #999;
	font-size: 14px;
}

.illustration-v4 .thumb-product-price {
	color: #687074;
	font-size: 16px;
}

.illustration-v4 .thumb-product-price.line-through {
	color: #c9253c;
	text-decoration: line-through;
}

.illustration-v4 .thumb-product-purchase {
	color: #ccc;
	float: right;
	margin-top: 3px;
}

.illustration-v4 .thumb-product-purchase a {
	color: #8bdccd;
}

.illustration-v4 .thumb-product-purchase i {
	top: 1px;
	font-size: 16px;
	position: relative;
}

.illustration-v4 .thumb-product-purchase a:hover {
	color: #18ba9b;
	text-decoration: none;
}

.mapatec{
    margin-bottom: 50px;
}
.mapatec img{
    width: 100%;
}